.checkbox-row {
	display: flex;
	flex-direction: row;
	align-content: space-around;
}

.custom-checkbox {
	color: #2e6930;
}

.custom-checkbox:checked {
	background-color: #68b5f3;
}

.habilidade-text {
	color: grey;
	font-size: 13px;
}
