.checkbox-row {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.custom-checkbox {
    color: #721764;
}

.custom-checkbox:checked {
    background-color: #721764;
}

.habilidade-text {
    color:grey;
    font-size: 13px;
}