.cat-card {
    border-radius: 8px;
    border-color: #721764;
    border-width: 2px;
    color: #721764;
    margin: 4%;
}

.card-icon {
    color: #721764;
    height: 30%;
    width: 30%;
}

.card-title {
    color: #721764;
    font-weight: 400;
    font-size: 12;
}